<h2 class="header">Create a new drone</h2>

<form method="POST" action="/drones/create">
    <div class="form">
        <label class="form-label">Name</label>
        <input class="form-control" type="text" name="name" required value="{{drone.name}}">
        <br>
        <label class="form-label">Propellers</label>
        <input class="form-control" type="text" name="propellers" value="{{drone.propellers}}">
        <br>
        <label class="form-label">Max Speed</label>
        <input class="form-control" type="text" name="max speed" value="{{drone.maxSpeed}}">
        <br>
        <button class="form-button" type="submit">SUBMIT</button>
    </div>
</form>